*.csv
*json
*.ll
BinaryPreprocessor/RetDec/
BinaryPreprocessor/openssl/
BinaryPreprocessor/ghidra_10.2.2_PUBLIC/
4-Features_Extraction
play
*.npy
*.rar
*.pyo
*.pyc
DATASET
CFGs
23
SAFE_23
23_CFGs
191_CFGs
targets_folder

4-Features_Extraction/gcn_v_env/
4-Features_Extraction/p38/
4-Features_Extraction/venv/
LSTM/
BackEnd/new_BE/tmp