*.csv
*json
*.ll
BinaryPreprocessor/RetDec/
BinaryPreprocessor/openssl/
BinaryPreprocessor/ghidra_10.2.2_PUBLIC/
play
*.npy
*.rar
*.pyo
*.pyc
DATASET
CFGs
23
SAFE_23
23_CFGs
191_CFGs
targets_folder

4-Features_Extraction/gcn_v_env/